/******* Change Box Model ***************/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: none;
  background-color: #ffffff;
  font-family: 'Share Tech Mono', sans-serif;  
}


main {
  padding-left: .25rem;
}

h1,
h2 {
  font-size: 1.2em;
}

a figure {
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  padding-top: .5em;
}

figure figcaption {
  text-align: center;
}

#info-review li {
  font-size: 1.2em;
  margin-bottom: 1em;
}

hr {
  border: 2px solid #3a3a3a;
}

section {
  margin-bottom: 2em;
  margin-top: 1em;
}

section h2,
h1 {
  margin-left: .25em;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

.siteName a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

main p {
  margin-left: 3em;
}

nav {
  background-color: #3a3a3a;
  display: flex;
  padding: 0 0 0 .25rem;
  justify-content: space-evenly;
  max-width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding-top: .75em;
  padding-bottom:.75em;
  text-align-last: center;
}

footer p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}

#car {
  position: relative;
  text-align: left;
  padding: 2rem;
  background-image: url("/images/vehicles/delorean.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
 
  
}

#car ul {
  background-color: #ffffffbc;
  display: inline-block;
  padding: 1rem;
  border-radius: 8px;
}

#car h2 {
  margin: 0;
  font-size: 2rem;
  color: #4c96d7;
}

#car li {
  list-style: none;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #4c96d7
}

#today-button {
  margin-top: 1rem;
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  outline: none;
}

#today-button:hover {
  transform: scale(1.1);
}

#center-body {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.upgrades-flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  width: 100%;
  padding-left: .25em;

}

.upgrades-flex a {
  width: 100%;
}

.back-color {
  background-color: #4c96d7;
  height: 6em;
  width: 95%;
  border: #3a3a3a solid 1px;
}





@media only screen and (min-width: 768px) {

  body {
      margin: 0 auto;
      width: 100%;
      background-image: url("/images/site/small_check.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Share Tech Mono', sans-serif;
      color: #333;
      padding: 20px;
      box-sizing: border-box;
  }

  #wrapper {
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border: 5px solid #4c96d7;
    border-radius: 10px;
    padding: 20px;
    max-width: 1200px;
    position: relative;
    z-index: 1; }

  h1 {
    font-size: 1.8em;
  }

  nav {
    margin-top: .70rem;
  }

  nav ul {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 0;
    font-size: 1.2em;
    padding: 0;
    text-align: center;
  }

  nav a {
    display: inline-block;
    width: 4.5em;
    padding: .25rem 0;
  }

  nav a:hover {
    color: #3a3a3a;
    background-color: #fff;
  }

  #center-body {
    border: 5px solid #4c96d7;
    border-radius: 10px;
    margin-top: 1em;
    width: 75%;
  }

  #car ul {
    font-size: 1.6em;
    margin-right: 1em;
    margin-left: 1.5em;    
    margin-top: 4em;
    margin-bottom:4em;
    align-self: center;
    padding: 1rem;
    max-width: 40%;
  }

  #car {
    position: relative;
    background-size: 80%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 0%;
    padding: 2rem;
  }

  #today-button {
    display: block;
    width: 90%;
    margin-top: 1.5em;
  }

  .content-flex {
    display: flex;
    justify-content: space-around;
  }

  #info-review {
    margin-top: .5em;
  }

  #info-review h2,
  #box-img h2 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  #box-img {
    order: -1;
    width: 45%;
    margin-top: 0;
  }

  #info-review li {
    font-size: 1.4em;
  }

  /* --------------
/logging page/
-------------*/

}